.detail{
    border-radius: 10px;
    border: 1px solid;
    padding: 10px 10px;
    cursor: pointer;
    margin: 20px;
    background: var(--gray5);
    row-gap: 10px;

    transition: all 0.2s;
    
}
.detail:hover{
    background: var(--gray8);
    border-color:var(--gray6);
    transform: scale(1.03);
    /* transition: all 0.3s ease; */
}
.detail:hover button.button_l{
    border-color: var(--gray0);
}
.txt_2{
    padding: 10px 0px;
    color: var(--gray6);
}
button.button_l{
    border-radius: 100px;
    border: 1px solid var(--gray6);
    background: var(--gray9);
    padding: 10px 20px; 
    
}
.detail div{
    flex-direction: row;
    margin-top: 5px;
}