.faq{
    padding: 20px;
    row-gap: 10px;
}
.faq ul{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}     
.faq button{
  border: 1px solid var(--gray7);
  padding: 20px;
  background-color: var(--gray8);
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: all 0.3s;
}

  
.faq button :hover{
    border: 1px solid var(--gray6);
    border: 1px solid var(--gray7);
}
.faq div{
    border: 1px solid var(--gray6);
    background: 1px solid var(--gray3);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    row-gap: 20px;
 
}
.faq div a {
    text-decoration: underline;
    
}
   

/* .fa{
    padding: 20px;
    row-gap: 10px;
}
.fali{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.fali div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid;
  padding: 20px;
   margin-top: 10px; 
}
.fali div:hover{
    background: var(--gray6);
} */
  
  
  
