/* const img = 주소 효율성  object-fit:cover 찌그러진거 펴줌*/
.gal{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.gal img{
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
    width: 100%;
    border: 1px solid;
}
.gal .wrap{
    position: relative;
}
.gal button{
    position: absolute;
    border: 1px solid var(--gray6);
    background-color: var(--gray8);
    border-radius: 100px;
    padding: 30px 5px;
    top: 50%;
}
.gal button :hover{
    opacity: 1;
    background-color: var(--gray7);
}
.gal button.l{
    left: 0;
    transform: translate(-50%, -50%);
}
.gal button.r{
    right: 0;
    transform: translate(50%, -50%);
}
    
    
    
    

