.re{
    border: 1px solid;
    padding: 20px;
    row-gap: 10px;
}

.re ul{
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}
    
.re div{
    border: 1px solid var(--gray7);
    border-radius: 20px;
    padding: 20px;
    background: var(--gray8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.re div:hover{
    background-color: var(--gray6);
}
.re div svg{
    border: 1px solid;
    font-size: 30px;
}
