footer{
    border: 1px solid;
}
footer button{
    background: none;
    padding: 10px 0;
    text-decoration: underline;
}
footer span{
    text-decoration: underline;
}
footer .bt1{
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    width: 120px;
    margin-left: 10px;
    height: 30px;
    text-decoration: none;
}